.App {
  text-align: left;
}

.Title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: 20px;
  background: white;
  color: grey;
  padding: 10px;
  border: lightgrey solid 0.2px;
  font-family: Arial, Helvetica, sans-serif;
}

.HIO {
  text-align: center;
}