.App {
  text-align: left;
  font-family: 'Dosis', sans-serif;
}

.Title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: 20px;
  background: white;
  color: grey;
  padding: 10px;
  border: lightgrey solid 0.2px;
  font-size: 50px;
}

.message {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  
}

.HIO {
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
  margin-top: 8px;
}

.visited {
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
}